<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.0" targetFramework="net452" />
  <package id="Autofac.WebApi" version="3.1.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="EntityFramework6.Npgsql" version="3.1.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="4.5.6" targetFramework="net452" />
  <package id="Npgsql" version="3.2.5" targetFramework="net452" />
  <package id="SimpleInjector" version="4.0.8" targetFramework="net452" />
  <package id="SimpleInjector.Integration.WebApi" version="4.0.8" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net452" />
</packages>