<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well well-sm">
                <div class="row" >
                    
                    <div class="col-sm-2 col-md-1">
                        <img [src]='getPhotoUrl()' class="img-rounded userAvatar" />
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <h3>{{AspNetUser.UserName}}</h3>


                    </div>
                    <div class="col-sm-6 col-md-5">
                        <h3>
                            <span> <i class="glyphicon glyphicon-envelope"></i> </span>
                            <span>{{AspNetUser.Email}}</span>
                        </h3>
                    </div>

                
            </div>
                <div style="text-align:center" id="advertisementsForm">
                        <h2 id="advertisementsUserHeader">
                            {{AspNetUser.UserName}}`s advertisements
                        </h2>
                        <table class="table table-adv table-bordered">
        
                            <tr *ngFor="let advertisement of Advertisements">
                                <table myHighlight class="table table-adv-inner">
                                    <tr>
                                        <td rowspan="5" class="img">
                                            <img class="img-advert" src="{{advertisement.Resources[0].Url}}">
                                        </td>
                                        <td class="title">
                                            {{advertisement.Title}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="TC"> Type: {{types[advertisement.TypeId - 1].Name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="TC"> Category: {{categories[advertisement.CategoryId - 1].Name}} </td>
                                    </tr>
                                    <tr>
                                        <td class="description"> {{advertisement.Description}} </td>
                                    </tr>
                                    <tr>
                                        <td class="price"> Price: {{advertisement.Price}} ₴ </td>
                                    </tr>
                                </table>
                            </tr>
                        </table>
        
                    </div>

            </div>
            
        </div>

    </div>
</div>