<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="page-header">Feedbacks</h2>
            <section class="comment-list">
                <div class=" row" ng-if="newFeedback">
                    <div class="col-md-10 col-sm-10">
                        <textarea class="form-control" name="Comment" #Comment="ngModel" rows="5" minlength="1" id="comment" placeholder="Leave your comment" [(ngModel)]="newFeedback.Text" required></textarea>
                    </div>
                    <div class="col-md-2 col-sm-2 hidden-xs">
                        <input type="submit" [disabled]="Comment.invalid" id="addFeedback" class="btn submit-btn shaddow" value="Send" (click)='goClick()'>
                    </div>
                </div>
                <hr>
                <div *ngIf="isButtonClicked && accessDenied " class="alert alert-danger">{{errorMessage}}</div>
                <br>
                <div *ngFor="let feedback of feedbacks">
                    <article class="row">
                        <div class="col-md-2 col-sm-2 hidden-xs">
                            <figure class="thumbnail">
                                <img class="img-responsive" src="../../../assets/userIcon.jpg" />
                            </figure>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <div class="panel panel-default arrow left">
                                <div class="panel-body">
                                    <header class="text-left">
                                        <div class="comment-user">Username: {{feedback.Username}}</div>
                                        <time class="comment-date">CreationTime: {{feedback.CreationTime | date:'medium'}} </time>
                                        <hr>
                                    </header>
                                    <div class="comment-post">{{feedback.Text}}
                                    </div>
                                    <hr>
                                    <img src="../../../assets/likeIcon.png" (click)='likeClick(feedback)' />
                                    <span>{{feedback.AgreeCount}}</span> &nbsp;
                                    <img src="../../../assets/dislikeIcon.png" (click)='dislikeClick(feedback)' />
                                    <span>{{feedback.DisagreeCount}}</span>
                                </div>
                                <div *ngIf="!isButtonClicked && feedback.Id == itemClicked && accessDenied " class="alert alert-danger">{{errorMessage}}</div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>