@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a style="color:white"hidden>@System.String.Format("Welcome, {0}!", User.Identity.GetUserName())</a>
        </li>
        <li>
            <a role="button" href="#" id="logOut" data-bind="click: logout">Вийти</a>

        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Home/Login">Вхід</a></li>
        <li><a href="/Home/Registrate">Реєстрація</a></li>
    </ul>
}

    