@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <p style="color:whitesmoke">@System.String.Format("Здоровенькі були, {0}!",User.Identity.GetUserName())</p>
        </li>
        <li>
            <button id="logOut" @*href="~/api/Account/Logout"*@>Вийти</button>
            
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Home/Login">Вхід</a></li>
        <li><a href="/Home/Registrate">Реєстрація</a></li>
    </ul>
}
