<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="title-header">
    Search results
  </h1>
  <div *ngIf="advertisements && types && categories">
    <table class="table table-adv table-bordered">
      <tr *ngFor="let advertisement of advertisements">
        <table class="table table-adv-inner">
          <tr>
            <td rowspan="5" class="img">
              <img class="img-advert" src="{{advertisement.Resources[0].Url}}">
            </td>
            <td class="title">
              {{advertisement.Title}}
            </td>
          </tr>
          <tr>
            <td class="TC"> Type: {{types[advertisement.TypeId - 1].Name}}</td>
          </tr>
          <tr>
            <td class="TC"> Category: {{categories[advertisement.CategoryId - 1].Name}} </td>
          </tr>
          <tr>
            <td class="description"> {{advertisement.Description}} </td>
          </tr>
          <tr>
            <td class="price"> Price: {{advertisement.Price}} ₴ </td>
          </tr>
        </table>
      </tr>
    </table>
  </div>

  <div *ngIf="advertisements.length == 0">
    <h2 class="text-center">Nothing found</h2>
  </div>

</div>