@model string
@{
    ViewBag.Title = "ConfirmPasswordRestoring";
}

<style>
    .error {
        color: red;
    }
</style>

@if (Model == "0")
{
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <h2 class="col-md-8">@ViewBag.message</h2>
        </div>
    </div>
}
else
{
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <h2 class="col-md-8">Password Restoring</h2>
    </div>
    <div style="margin-top:50px" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Create new password</div>
                </div>
                <form id="restorePassForm" class="form-horizontal" autocomplete="off" data-bind="submit: confirmPassword" action=""  >
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="input-group">
                                <label for="password" class="control-label col-sm-4">New password</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" name="passwordForRestore" id="passwordForRestore" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="input-group">
                                <label for="passwordConfirm" class="control-label col-sm-4">Confirm password</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" name="passwordForRestoreConfirm" id="passwordForRestoreConfirm" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="input-group">
                                <div class="col-md-4">
                                </div>
                                <div class=" col-sm-8">
                                    <input type="submit" class="btn btn-success btn-lg" value="Submit" id="confirmPasswordRestore" @*data-bind="click: confirmPassword"*@ />
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>       
    </div>
    <input id="modelId" name="modelId" type="hidden" value="@Model">     
</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/passwordRestore-validation.js"></script>
}
}