@model Advertisements.Web.Models.ExternalLoginViewModel
@using Microsoft.Owin.Security

<hr />

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    @Html.AntiForgeryToken();
    <div class="socialLoginList">
        <p>
            @foreach (AuthenticationDescription desc in loginProviders)
            {
                <button type="submit" class="btn btn-default" id="@desc.AuthenticationType" name="provider" value="@desc.AuthenticationType" title="Log in using your @desc account">@desc.AuthenticationType</button>
            }
        </p>
    </div>
}

