
@{
    ViewBag.Title = "Login";
}
<link rel="stylesheet" href="~/Content/LoginStyle.css" />
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <section id="content">
                @Html.AntiForgeryToken()
                <form action="" data-bind="submit: login">
                    <h1>Login Form</h1>
                    <div>
                        <input type="email" placeholder="Email" required="" id="useremail" />
                    </div>
                    <div>
                        <input type="password" placeholder="Password" required="" id="userpassword" />
                    </div>
                    <div>
                        <input type="submit" value="Log in" id="submitLogin" />
                        <a href="~/Home/RestorePassword">Lost your password?</a>
                        <a href="~/Home/Registrate">Register</a>
                    </div>
                </form><!-- form -->

            </section><!-- content -->
        </div>
        @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("ExternalLoginsListPartial")
            </section>
        </div>*@
    </div>
</div><!-- container -->
