<div *ngIf="IsReady && IsRightUrl">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <h2 class="col-md-8">Password Restoring</h2>
        </div>
        <div style="margin-top:50px" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Create new password</div>
                </div>
                <form id="restorePassForm" class="form-horizontal" role="form" [formGroup]="restorePasswordForm" novalidate (ngSubmit)="RestorePass(restorePasswordForm.value)">
                    <div class="panel-body">
                        <div class="form-group" [ngClass]="{ 'has-error':!restorePasswordForm.controls['NewPassword'].valid && restorePasswordForm.controls['NewPassword'].touched}">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="NewPassword" class="control-label col-sm-4">New password</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control align-left" name="NewPassword" formControlName="NewPassword" reverse="true" required
                                        pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$" />
                                </div>
                            </div>


                            <div *ngIf="restorePasswordForm.controls['NewPassword'].hasError('required') && restorePasswordForm.controls['NewPassword'].touched"
                                class="alert alert-danger">Required field</div>
                            <div *ngIf="restorePasswordForm.controls['NewPassword'].hasError('pattern') && restorePasswordForm.controls['NewPassword'].touched"
                                class="alert alert-danger">Require lowercase, uppercase letter, digit and one symbol</div>

                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error':!restorePasswordForm.controls['ConfNewPass'].valid && restorePasswordForm.controls['ConfNewPass'].touched}">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label col-sm-4">Confirm password</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control align-left" name="ConfNewPass" formControlName="ConfNewPass" required validateEqual="NewPassword"
                                    />
                                </div>
                            </div>

                            <div *ngIf="restorePasswordForm.controls['ConfNewPass'].hasError('required') && restorePasswordForm.controls['ConfNewPass'].touched"
                                class="alert alert-danger">Required field</div>
                            <div *ngIf="restorePasswordForm.controls['ConfNewPass'].hasError('validateEqual') && restorePasswordForm.controls['ConfNewPass'].touched"
                                class="alert alert-danger">Enter the same password as above</div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                            </div>
                            <div class=" col-sm-6">
                                <input type="submit" class="btn btn-success btn-lg" value="Submit" id="confirmPasswordRestore" [disabled]="!restorePasswordForm.valid"
                                />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="IsReady && !IsRightUrl">
    <div class="alert alert-danger alert-dismissable text-center">Wrong url!</div>

</div>