<!--The content below is only a placeholder and can be replaced.-->

<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" [routerLink]="['/start']">Advertisements</a>
      </div>                                           

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li [routerLinkActive]="['active']"><a [routerLink]="['/start']">Main <span class="sr-only">(current)</span></a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/create']">Add advertisement</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left"  [formGroup]="searchGroup" novalidate (ngSubmit)="GoSearch(searchGroup.value)">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="Key" placeholder="Search"  />
            </div>
            <input class="btn btn-default" type="submit" value="Search"/>
            
          </form>
            <li *ngIf="!isLoggedIn" [routerLinkActive]="['active']"><a [routerLink]="['/register']">{{registerbuttontext}}</a></li>
            <li *isLoggedIn="!isLoggedIn" [routerLinkActive]="['active']"><a [routerLink]="['/login']">{{loginbuttontext}}</a></li>

            <li *isLoggedIn="isLoggedIn" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{loginbuttontext}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li *admin="admin"><a [routerLink]="['/category']">Edit Categories</a></li>
              <li *admin="admin"><a [routerLink]="['/type']">Edit Types</a></li>
              <li><a [routerLink]="['/myAdv']">My Advertisements</a></li>
              <li role="separator" class="divider"></li>
              <li><a class="cursor_pointer" [routerLink]="['/start']" (click)='logout()' >Logout</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="alert alert-danger alert-dismissable text-center" *ngIf="errorNotification != undefined && errorNotification.accessDenied">{{errorNotification.errorMessage}}
  <a class="close" (click)="errorNotification = null" data-dismiss="alert" aria-label="close">&times;</a></div>
  <router-outlet></router-outlet>
</div>              