.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .advertisement-class {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .advertisement-class li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .advertisement-class li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .advertisement-class li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .advertisement-class .text {
    position: relative;
    top: -3px;
  }
  .advertisement-class .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .container{ 
    width: 60vw;     
    text-align: center;
  }

  .img-advert{
    margin: 5px;
    height: 10vw;       
  }
   .div-advertisement-image{             
    border: 1px solid lightgray;
    border-radius:  5px;         
  } 
                      
  .tr-title{
    font-size: 200%;
    text-align: left;
  }

  .tr-description{
    font-size: 120%;
    font-style: italic;
    text-align: left;
  }

  .td-adverttisement-texts{
    position:relative;
  }

  .bottom-allignement{
    vertical-align: bottom;
  }

  .price{
    font-size: 150%;
    position: relative;
   bottom:0;
   right:15pt;
  }

  
        /*My*/
.container.adv-container {
    text-align: left;
}
.container.adv-container .adv-header {
    text-align: center;
}
  .title-header{
    text-align: center;
  }

  table td[class*="col-"]{
    position: relative;
  }