<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="advertisements && types && categories && Users">
  <div style="text-align:center">
    <h1 class="title-header">
      Recent Advertisements!
    </h1>
  </div>
  <table class="table table-adv table-bordered">
    <tr *ngFor="let advertisement of advertisements">
      <table myHighlight class="table table-adv-inner" (click)="redirect(advertisement.Id)">
        <tr>
          <td rowspan="6" class="img">
            <img class="img-advert" src="{{advertisement.Resources[0].Url}}">
          </td>
          <td class="title">
            {{advertisement.Title}}
          </td>
        </tr>
        <tr>
          <td class="TC"> Type: {{types[advertisement.TypeId - 1].Name}}</td>
        </tr>
        <tr>
          <td class="TC"> Category: {{categories[advertisement.CategoryId - 1].Name}} </td>
        </tr>
        <tr>
          <td class="description"> {{advertisement.Description}} </td>
        </tr>
        <tr>
          <td class="userName">
            <button (click)='redirectToUserInfo(advertisement.ApplicationUserId)' class="userInfoBtn">
              <i class = "fa fa-user-circle-o" aria-hidden="true"></i>
                Author: {{GetUserName(advertisement.ApplicationUserId)}}
            </button>
          </td>
        </tr>
        <tr>
          <td class="price"> Price: {{advertisement.Price}} ₴ </td>
        </tr>
      </table>
    </tr>
  </table>
</div>