<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="title-header">
    Recent Advertisements!
  </h1>
<div class="container adv-container">
  <table class="table table-adv table-inverse table-bordered">
    <tr myHighlight *ngFor="let advertisement of advertisements" (click)="redirect(advertisement.Id)">
      <td class="col-sm-3" style="text-align:center">
        <div class="div-advertisement-image">
          <img class="img-advert" src="{{advertisement.Resources[0].Url}}">
        </div>
      </td>
      <td class="col-sm-9 td-adverttisement-texts">
        <table>
          <tr>
            <td class="tr-title">{{advertisement.Title}}</td>
          </tr>
          <tr>
            <td class="tr-description"><span class="adv-class">{{advertisement.Description}}</span></td>
          </tr>
          <tr class="price"> Price: {{advertisement.Price}} ₴ </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

</div>