<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">
                            <form class="form-horizontal" id="emailForm" [formGroup]="emailForm" novalidate (ngSubmit)="CheckEmail(emailForm.value)">
                                <div class="form-group row" [ngClass]="{ 'has-error':!emailForm.controls['email'].valid && emailForm.controls['email'].touched }">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
                                        <input class="form-control" type="email" id="emailInput" name="emailInput" formControlName="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                        />
                                    </div>
                                    <div *ngIf="emailForm.controls['email'].hasError('required') && emailForm.controls['email'].touched" class="alert alert-danger">Required field</div>
                                    <div *ngIf="emailForm.controls['email'].hasError('pattern') && emailForm.controls['email'].touched" class="alert alert-danger">Wrong format</div>
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-lg btn-primary btn-block" value="Send my password" type="submit" [disabled]="!emailForm.valid" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>