<div *ngIf="advertisement && types && categories">
  <table class="table table-adv table-bordered">
    <tr>
      <table class="table table-adv-inner">
        <tr>
          <td rowspan="5" class="img">
            <carousel>
              <slide *ngFor="let item of advertisement.Resources; let i = index">
                <img src="{{item.Url}}" alt="slide #{{i}}" class="img-size">
              </slide>
             </carousel>
          </td>
          <td class="title">
            {{advertisement.Title}}
          </td>
        </tr>
        <tr>
          <td class="TC"> Type: {{types[advertisement.TypeId -1].Name}}</td>
        </tr>
        <tr>
          <td class="TC"> Category: {{categories[advertisement.CategoryId -1].Name}} </td>
        </tr>
        <tr>
          <td class="description"> {{advertisement.Description}} </td>
        </tr>
        <tr>
          <td class="price"> Price: {{advertisement.Price}} ₴ </td>
        </tr>
      </table>
    </tr>
  </table>
  <feedback-root></feedback-root>
</div>