
@{
    ViewBag.Title = "Register";
}

<h2>Register admin</h2>

<link rel="stylesheet" href="~/Content/RegistrateStyle.css" />
<div class="container" role="form">
    <div class="row">
        <form class="cmxform" id="signupForm" autocomplete="off">
            <h2>Реєстрація адміна</h2>
            <div class="form-group required">
<<<<<<< HEAD
                <label for="Name" class="col-sm-3 control-label">Повне ім'я</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Ім'я'" id="firstName" name="firstName" required />
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="Прізвище" id="surName" name="surName" required />
=======
                <label for="Name" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="Name" id="firstName" name="firstName" required />
                </div>
            </div>
            <div class="form-group required">
                <label for="SurName" class="col-sm-3 control-label">SurName</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="Surname" id="surName" name="surName" required />
>>>>>>> 4e6b888bd9e10a264d0007078d4833eef042529d
                </div>
            </div>
            <div class="form-group required">
                <label for="email" class="col-sm-3 control-label">Ел. пошта</label>
                <div class="col-sm-9">
<<<<<<< HEAD
                    <input type="email" class="form-control" placeholder="Ел. пошта" id="eMail" name="eMail" required />
=======
                    <input type="email" class="form-control" placeholder="Email" id="eMail" name="eMail" required />
>>>>>>> 4e6b888bd9e10a264d0007078d4833eef042529d
                </div>
            </div>
            <div class="form-group required">
                <label for="password" class="col-sm-3 control-label">Пароль</label>
                <div class="col-sm-9">
<<<<<<< HEAD
                    <input type="password" class="form-control" placeholder="Введіть пароль" id="password" name="password" required />
=======
                    <input type="password" class="form-control" placeholder="Enter password" id="password" name="password" required />
>>>>>>> 4e6b888bd9e10a264d0007078d4833eef042529d
                </div>
            </div>
            <div class="form-group required">
                <label for="password" class="col-sm-3 control-label">Повторіть пароль</label>
                <div class="col-sm-9">
<<<<<<< HEAD
                    <input type="password" class="form-control" placeholder="Введіть ще раз пароль" id="passwordRepeat" name="passwordRepeat" required />
=======
                    <input type="password" class="form-control" placeholder="One more time" id="passwordRepeat" name="passwordRepeat" required />
>>>>>>> 4e6b888bd9e10a264d0007078d4833eef042529d
                </div>
            </div>
            <div class="row">
                <div class="form-group required">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-4">
                        <div class="input-group">
<<<<<<< HEAD
                            <input type="submit" class="btn btn-lg btn-success" value="Реєстрація" id="submit" />
=======
                            <input type="submit" class="btn btn-lg btn-success" value="Register" id="submit" />
>>>>>>> 4e6b888bd9e10a264d0007078d4833eef042529d
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </form>


    </div>






</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/signup-form.js"></script>
    <script type="text/javascript">

        $(function () {
            $('#submit').click(function (e) {
                if ($('#signupForm').valid()) {
                    e.preventDefault();
                    var data = {
                        UserName: $('#firstName').val() + ' ' + $('#surName').val(),
                        Email: $('#eMail').val(),
                        Password: $('#password').val(),
                        ConfirmPassword: $('#passwordRepeat').val()
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/api/Account/RegisterAdmin',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(data),
                        success: function (data) { alert('Реєстрація пройдена'); window.location.replace('/AdminMvc/Index') },
                        fail: function (data) { alert('Реєстрація не пройдена') }

                    })
                }
            })

        })
    </script>

}